
.app {
  text-align: center;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
}


ul {
  list-style-type: none;
  display: flex; /* Use flexbox for centering */
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  padding: 0;
  width: 100%; /* Adjust width as needed */
}


li {
  flex-basis: 20%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 18px;
  margin: 5px;
}

/* Add different color classes based on the item value */
li.Fizz {
  background-color: #ffcc00; /* Yellow */
}

li.Buzz {
  background-color: #66cc99; /* Green */
}

li.FizzBuzz {
  background-color: #ff6666; /* Red */
}

li {
  background-color: #96c1eb; /* Blue */
}
